ConsoleApplication1/ConsoleApplication5/ConsoleApplication5/Service References/OPC/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OPC.Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OPC.Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvokeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvokeResponse" nillable="true" type="tns:InvokeResponse" />
</xs:schema>