ConsoleApplication1/ConsoleApplication5/ConsoleApplication5/Service References/OPC/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DM.MasterData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DM.MasterData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EquipmentCmd">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="VariableCmds" nillable="true" type="tns:ArrayOfEquipmentVariableCmd" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipmentCmd" nillable="true" type="tns:EquipmentCmd" />
  <xs:complexType name="ArrayOfEquipmentVariableCmd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquipmentVariableCmd" nillable="true" type="tns:EquipmentVariableCmd" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquipmentVariableCmd" nillable="true" type="tns:ArrayOfEquipmentVariableCmd" />
  <xs:complexType name="EquipmentVariableCmd">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientHandle" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquipmentVariableCmd" nillable="true" type="tns:EquipmentVariableCmd" />
</xs:schema>